@import "styles/variables.scss";

.about {
  &__inner {
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    padding: 200px 0;
  }
}

.title {
  margin-bottom: 50px;
  font-size: 2rem;
}

.aboutMe {
  display: flex;
  align-items: center;
}

.pictureList {
  width: 50%;
  font-size: 0;

  img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.aboutPictureList {
  height: 90vh;
}

.aboutMeText {
  font-family: $font-family;
  width: 50%;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 50px;
}

.pictureOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $main;
}

.aboutMeFull {
  display: block;
  width: 100%;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(0.5) rotateZ(-10deg);
    opacity: 0.2;
  }
}
